{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Edit {{ pin.title }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Edit Pin - {{ pin.title }}</h1>
            {{ include('home/_formPin.html.twig', {submitButtonText:'Update Pin'}) }}
        </div>
    </div>

{% endblock %}